<!DOCTYPE html>
<html lang="en">
<head>
<title>TinyApp</title>
</head>
    <% include ./partials/_header %>
<body>
  <% if(noUser) { %>
  fdsahfdsahjfsdhjfds
  <h1>You must log in to edit short URLs</h1>
  <% } else if(invalidURL) { %>
  <h1>Error <%= shortURL %> does not exist</h1>
  <% } else if(isNotAuthUser) { %>
  <h1>You are not authorised to edit this page</h1>
  <% } else { %>
    <h1>ShortURL: <%= shortURL %></h1>
    <p>Date created: <%= date %></p>
    <p><a href="http://localhost:8080/u/<%= shortURL %>">http://localhost:8080/u/<%= shortURL %></a> &xrarr; <%= longURL %></p>
    <p>Times visited: <%=timesVisited%></p>
    <p>Unique visits: <%=uniqueVisits%></p>
    <form method="POST" action="/urls/<%= shortURL %>">
      <input type="text" name="longURL" value="<%= longURL %>">
      <button>Update</button>
    </form>
  <% } %>
</body>
</html>