<!DOCTYPE html>
<html lang="en">
<head>
<title>TinyApp</title>
</head>
    <% include ./partials/_header %>
<body>
  <% if (!user) { %>
  Please log in to view short URLs
  <% } else { %>
  <% for (const shortURL in urls) { %>
  <p><%= shortURL %> : <%= urls[shortURL].url %></p>
  <a href="http://localhost:8080/u/<%= shortURL %>"> http://localhost:8080/u/<%= shortURL %></a>
    <p>Date created : <%= urls[shortURL].date %></p>
    <p>Times visited : <%= urls[shortURL].ipOfVisitors.length %></p>
    <p>Unique visits : <%= (urls[shortURL].ipOfVisitors).filter((value, index, element) => element.indexOf(value) === index).length %></p>
      <form method="POST" action="/urls/<%= shortURL %>/delete">
        <button>Delete this</button>
      </form>
      <a href="/urls/<%= shortURL %>"><button>Edit</button></a>
      <%}%>
      <p><a href="/urls/new">Create a New Short Link</a></p>
  <% } %>
</body>
</html>
